FORMAT: 1A
HOST: https://www.bloc.io/api/v1/

# Bloc API

The Bloc API allows students to access the Bloc Application via a restful API.

## Sessions [/sessions]

### Retreive Auth Token [POST]

+ Request (application/json)

        {
            "email":"antblessing@gmail.com",
            "password":"password"
        }

+ Response 200 (application/json)

        {
            "auth_token":"eyJ0eXAiOiJKV1QiLCJhhGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTc2MDZkNTBhYjA3NDE4ZWE4ZmU5NzliY2YxNTM1ZjAiLCJ1c2VyX2lkIjoyMzAzMTExLCJuYW1lIjoiQmVuIE5lZWx5In0.3VXD-FxOoxaGXHu6vmL8g191bl5F_oKe9qj8Khmp9F0",
            "user":
                {
                    "id":2307245,
                    "email:"antblessing@gmail.com",
                    "created_at":"2015-08-11T16:31:08.836-07:00",
                    "updated_at":"2015-11-04T13:13:32.457-08:00",
                    "facebook_id":null,
                    ...,
                    "gender":null
                }
        }

## Credentials [/me]

### Current User [GET]
Retreive current user

+ Request (application/json)

    + Headers
    
            authorization: eyJ0eXAiOiJKV1QiLCJhhGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTc2MDZkNTBhYjA3NDE4ZWE4ZmU5NzliY2YxNTM1ZjAiLCJ1c2VyX2lkIjoyMzAzMTExLCJuYW1lIjoiQmVuIE5lZWx5In0.3VXD-FxOoxaGXHu6vmL8g191bl5F_oKe9qj8Khmp9F0

+ Response 200 (application/json)
    + Body

            {
                "id":2307245,
                "email:"antblessing@gmail.com",
                "created_at":"2015-08-11T16:31:08.836-07:00",
                "updated_at":"2015-11-04T13:13:32.457-08:00",
                "facebook_id":null,
                ...,
                "gender":null
            }






## Mentors [/mentors]

### Student Availability [GET /student_availability]
List mentor's available timeslots for the current user

+ Request (application/json)

    + Headers
    
            authorization: eyJ0eXAiOiJKV1QiLCJhhGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTc2MDZkNTBhYjA3NDE4ZWE4ZmU5NzliY2YxNTM1ZjAiLCJ1c2VyX2lkIjoyMzAzMTExLCJuYW1lIjoiQmVuIE5lZWx5In0.3VXD-FxOoxaGXHu6vmL8g191bl5F_oKe9qj8Khmp9F0

+ Response 200 (application/json)

        [
            {
                "id":13918,
                "starts_at":"2016-02-21T05:00:00.000Z",
                "ends_at":"2016-02-21T05:29:59.000Z",
                "week_day":7,
                "booked":null
            },
            {
                "id":13919,
                "starts_at":"2016-02-21T05:30:00.000Z",
                "ends_at":"2016-02-21T05:59:59.000Z",
                "week_day":7,
                "booked":null
            },
            ....
        ]

## Message Threads [/message_threads]

### All Messages [GET]
Show message threads for current user, paginated

+ Request (application/json)

    + Parameters
        + page (number) - The message thread page

    + Headers
    
            authorization: eyJ0eXAiOiJKV1QiLCJhhGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTc2MDZkNTBhYjA3NDE4ZWE4ZmU5NzliY2YxNTM1ZjAiLCJ1c2VyX2lkIjoyMzAzMTExLCJuYW1lIjoiQmVuIE5lZWx5In0.3VXD-FxOoxaGXHu6vmL8g191bl5F_oKe9qj8Khmp9F0
    
    + Body
        
            {
                "user_id":1,
                "recipient_id":2,
                "subject":"Royale with cheese",
                "stripped-text":"That's what they call a quarter pounder in France."
            }

+ Response 200 (application/json)

            {
              "data":{
                "items":[
                  {
                    "id":1,
                    "subject":"Hey there",
                    "messages_count":10,
                    "updated_at":"2015-09-26T19:30:49.772-04:00",
                    "user_image":"https://cdn.bloc.io/path/to/image",
                    "preview":"Hey there, I was confused about this...",
                    "first_name":"Mike",
                    "last_name":"Jewett",
                    "unread":true
                  },
                  // ...
                ],
                "count":100
              }
            }

## Messages [/messages]

### Create Message [POST]
Create a new message on a thread, or a new thread with a message. Requests without a MessageThread token will create a new thead with message.

+ Request (application/json)

    + Headers
    
            authorization: eyJ0eXAiOiJKV1QiLCJhhGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTc2MDZkNTBhYjA3NDE4ZWE4ZmU5NzliY2YxNTM1ZjAiLCJ1c2VyX2lkIjoyMzAzMTExLCJuYW1lIjoiQmVuIE5lZWx5In0.3VXD-FxOoxaGXHu6vmL8g191bl5F_oKe9qj8Khmp9F0
    
    + Body
        
            {
                "user_id":1,
                "recipient_id":2,
                "subject":"Royale with cheese",
                "stripped-text":"That's what they call a quarter pounder in France."
            }

+ Response 200 (application/json)

        {
          success: true
        }

## Checkpoints [/checkpoints/{id}]

### Show Checkpoint [GET]

+ Request (application/json)

    + Headers
    
            authorization: eyJ0eXAiOiJKV1QiLCJhhGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTc2MDZkNTBhYjA3NDE4ZWE4ZmU5NzliY2YxNTM1ZjAiLCJ1c2VyX2lkIjoyMzAzMTExLCJuYW1lIjoiQmVuIE5lZWx5In0.3VXD-FxOoxaGXHu6vmL8g191bl5F_oKe9qj8Khmp9F0
+ Parameters
    + id (number) - ID of the Checkpoint in the form of an integer

+ Response 200 (application/json)

            {
                "id":129,
                "name":"Super Awesome Introduction",
                "body":"## What to Expect\n\n<center>![]...",
                "parent_id":nil,
                "created_at":"2013-06-10T12:35:03.748-04:00",
                "updated_at":"2015-09-26T19:30:49.772-04:00",
                "assignment":"This assignment is simple: *shop!*\n\n### Challenges...",
                "summary":"This is a great checkpoint!",
                "points":3,
                "project_name":"",
                "roadmap_id":3,
                "active":true,
                "job_prep":false, "version":[0, 0],
                "body_file_path":"",
                "uuid":"81cc03d0-afc6-42fb-b38a-d317469024e1",
                "ref":"81cc03d0-afc6-42fb-b38a-d317469024e1|0",
                "retroactive_optional_date":null
            }
            
## Checkpoint Submissions [/checkpoint_submissions]

### Create [POST]
Create a checkpoint assignment submission

+ Request (application/json)

    + Headers
    
            authorization: eyJ0eXAiOiJKV1QiLCJhhGciOiJIUzI1NiJ9.eyJhcGlfa2V5IjoiYTc2MDZkNTBhYjA3NDE4ZWE4ZmU5NzliY2YxNTM1ZjAiLCJ1c2VyX2lkIjoyMzAzMTExLCJuYW1lIjoiQmVuIE5lZWx5In0.3VXD-FxOoxaGXHu6vmL8g191bl5F_oKe9qj8Khmp9F0

    + Body
    
            {
                "assignment_branch":"assignment-22-iterative-search",
                "assignment_commit_link":"https":/github.com/me/repo/commit/5",
                "checkpoint_id":1635,
                "comment":"this is my work",
                "comment_answer_id":31,
                "enrollment_id":11218,
                "work_commit_link":"https://github.com/me/repo/commit/6"
            }
            
+ Response 200 (application/json)

            {
              "id":92985,
              "student_id":245121,
              "mentor_id":946,
              "enrollment_id":11218,
              "roadmap_ref":"af25ff7b-d789-4926-b4d7-4708a45a10b5|1",
              "checkpoint_ref":"952b7e4a-33ca-47dd-bdb5-bb16c17f5899|0",
              "assignment_commit_link":"https://github.com/me/repo/commit/5",
              "work_commit_link":"https://github.com/me/repo/commit/6",
              "status":"submitted",
              "comment":"this is my work",
              "created_at":"2016-02-04T10:47:32.151-08:00",
              "updated_at":"2016-02-04T10:47:32.151-08:00",
              "assignment_branch":"assignment-22-iterative-search"
            }